<div class="container">
  <div class="card">
    <h1 class="card-title">Log In to FriendZone</h1>
    <% if flash[:alert] %>
      <div class="flash alert"><%= flash[:alert] %></div>
    <% end %>

    <%= form_with(url: login_path, local: true) do |form| %>
      <div class="form-group">
        <%= form.label :username %>
        <%= form.text_field :username, placeholder: "Your username" %>
      </div>

      <div class="form-group">
        <%= form.label :password %>
        <%= form.password_field :password, placeholder: "Your password" %>
      </div>

      <div class="form-actions">
        <%= form.submit "Log In", class: "button" %>
      </div>
    <% end %>

    <p class="card-paragraph" style="margin-top: 20px;">
      Don't have an account? <%= link_to "Sign Up", signup_path %>
    </p>
  </div>
</div>