<header class="main-header">
  <button class="sidebar-toggle-button" data-action="sidebar#toggle">☰</button>
  <%= link_to root_path, class: "logo" do %>
    <i class="fa-solid fa-user-group"></i> The FriendZone
  <% end %>
  <nav>
    <ul>
      <% if logged_in? %>
        <%# Home, Requests, Messages, Friends, Settings moved to sidebar %>
        <li>
          <%= link_to explore_users_path do %>
            <i class="fa-solid fa-magnifying-glass"></i> Explore
          <% end %>
        </li>
        <li>
          <%= link_to new_post_path do %>
            <i class="fa-solid fa-plus"></i> Create Post
          <% end %>
        </li>
        <li class="profile-dropdown" data-controller="dropdown">
          <a href="#" class="profile-dropdown-toggle" data-action="click->dropdown#toggle">
            <%= image_tag current_user_avatar, alt: current_user.username %>
            <%= current_user.username %>
            <i class="fa-solid fa-caret-down"></i>
          </a>
          <div class="profile-dropdown-menu" data-dropdown-target="menu">
            <%= link_to user_path(current_user), class: "dropdown-item" do %>
              <i class="fa-solid fa-user"></i> Profile Page
            <% end %>
            <%= button_to logout_path, method: :delete, class: "dropdown-item" do %>
              <i class="fa-solid fa-right-from-bracket"></i> Logout
            <% end %>
          </div>
        </li>
      <% else %>
        <li>
          <%= link_to login_path do %>
            <i class="fa-solid fa-right-to-bracket"></i> Login
          <% end %>
        </li>
        <li>
          <%= link_to signup_path, class: "button" do %>
            <i class="fa-solid fa-user-plus"></i> Sign Up
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>