<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "FriendZone" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Font Awesome CDN %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "friendzone", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="app-body">
    <div class="app-container" data-controller="sidebar">
      <%= render 'shared/navbar' %> <%# Moved navbar outside main-layout-content %>
      <div class="sidebar" data-sidebar-target="sidebar">
        <div class="sidebar-header">
          <%# Removed logo from sidebar as it's now in the main header %>
          <button class="sidebar-close-button" data-action="sidebar#toggle">X</button>
        </div>
        <nav class="sidebar-nav">
          <ul>
            <% if logged_in? %>
              <li>
                <%= link_to root_path do %>
                  <i class="fa-solid fa-house"></i> Home
                <% end %>
              </li>
              <li>
                <%= link_to friend_requests_path do %>
                  <i class="fa-solid fa-user-plus"></i> Requests
                <% end %>
              </li>
              <li>
                <%= link_to messages_path do %>
                  <i class="fa-solid fa-envelope"></i> Messages
                <% end %>
              </li>
              <li>
                <%= link_to friends_path do %>
                  <i class="fa-solid fa-user-group"></i> Friends
                <% end %>
              </li>
              <%# "Create Post", "Profile", and "Logout" moved to top bar %>
            <% else %>
              <li>
                <%= link_to login_path do %>
                  <i class="fa-solid fa-right-to-bracket"></i> Login
                <% end %>
              </li>
              <li>
                <%= link_to signup_path, class: "button" do %>
                  <i class="fa-solid fa-user-plus"></i> Sign Up
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
      <div class="main-layout-content" data-sidebar-target="mainContent">
        <%= yield %>
      </div>
    </div>
  </body>
</html>